In [7]:
import logging
import os

import pypsa
import yaml
import pandas as pd
import geopandas as gpd
#import geoviews as gv
#import hvplot.pandas
import numpy as np
import scipy as sp
import networkx as nx
import matplotlib as plt

from scipy.sparse import csgraph
from itertools import product

from shapely.geometry import Point, LineString
import shapely, shapely.prepared, shapely.wkt

logger = logging.getLogger(__name__)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 70)

import sys
sys.path.append('../')  # to import helpers
from scripts._helpers import _sets_path_to_root
_sets_path_to_root("pypsa-africa")

This is the repository path:  /home/max/OneDrive/PHD-Flexibility/07_pypsa-africa/0github/pypsa-africa/pypsa-africa
Had to go 0 folder(s) up.

In [8]:
import pypsa
import geopandas as gpd
import sys
sys.path.append('../')  # to import helpers
from scripts._helpers import _sets_path_to_root
_sets_path_to_root("pypsa-africa")

This is the repository path:  /home/max/OneDrive/PHD-Flexibility/07_pypsa-africa/0github/pypsa-africa/pypsa-africa
Had to go 0 folder(s) up.

In [9]:
network_path = os.getcwd() + "/networks/base.nc"
n = pypsa.Network(network_path)
n

INFO:pypsa.io:Imported network base.nc has buses, lines

Network PyPSA-Eur

In [12]:
n.bounds

AttributeError: 'Network' object has no attribute 'bounds'

In [18]:
n.buses

,v_nom,symbol,under_construction,tag_substation,tag_area,lon,lat,country,geometry,x,y,substation_lv,substation_off,type,carrier,v_mag_pu_set,v_mag_pu_min,v_mag_pu_max,control,sub_network
name,,,,,,,,,,,,,,,,,,,,
0,220.0,False,False,False,False,-0.190303,35.768513,DZ,NaN,-0.190303,35.768513,True,True,,AC,1.0,0.0,inf,PQ,
1,220.0,False,False,False,False,-0.395014,35.534567,DZ,NaN,-0.395014,35.534567,True,True,,AC,1.0,0.0,inf,PQ,
2,220.0,False,False,False,False,3.145192,36.588889,DZ,NaN,3.145192,36.588889,True,True,,AC,1.0,0.0,inf,PQ,
3,220.0,False,False,False,False,2.165326,36.259078,DZ,NaN,2.165326,36.259078,True,True,,AC,1.0,0.0,inf,PQ,
4,220.0,False,False,False,False,-0.902234,35.087613,DZ,NaN,-0.902234,35.087613,True,True,,AC,1.0,0.0,inf,PQ,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20641,220.0,False,False,False,False,31.010127,-29.813664,ZA,NaN,31.010127,-29.813664,True,True,,AC,1.0,0.0,inf,PQ,
20642,220.0,False,False,False,False,39.277212,-6.317658,TZ,NaN,39.277212,-6.317658,True,True,,AC,1.0,0.0,inf,PQ,
20643,220.0,False,False,False,False,9.976713,37.210589,TN,NaN,9.976713,37.210589,True,True,,AC,1.0,0.0,inf,PQ,
20644,220.0,False,False,False,False,33.136213,0.502256,UG,NaN,33.136213,0.502256,True,True,,AC,1.0,0.0,inf,PQ,
20645,220.0,False,False,False,False,33.134780,0.502019,UG,NaN,33.134780,0.502019,True,True,,AC,1.0,0.0,inf,PQ,

In [25]:
regions = os.getcwd() + "/resources/country_shapes.geojson"
gpd.read_file(regions)

   name                                                               geometry
0    DZ  POLYGON ((7.78493 21.04899, 7.44568 20.84247, 7.16068 20.61938, 5....
1    AO  MULTIPOLYGON (((11.90160 -17.20843, 11.88158 -17.23112, 11.83710 -...
2    BJ  POLYGON ((2.48333 6.36069, 2.42819 6.34347, 2.24597 6.34347, 1.974...
3    BW  POLYGON ((21.78464 -26.71760, 21.79312 -26.77092, 21.78099 -26.802...
4    BF  POLYGON ((0.76395 10.99731, 0.65631 10.99736, 0.49468 10.93100, 0....
5    BI  POLYGON ((30.80741 -3.27204, 30.75771 -3.29259, 30.73998 -3.26777,...
6    CM  POLYGON ((15.41771 1.94690, 15.34618 1.91177, 15.33573 1.94160, 15...
7    CF  POLYGON ((26.52326 6.10764, 26.56018 6.03328, 26.65501 6.00496, 26...
8    TD  POLYGON ((18.12234 8.01297, 18.03198 8.00930, 17.92164 7.95861, 17...
9    CG  POLYGON ((15.26520 -4.31649, 15.19431 -4.34761, 15.10480 -4.49497,...
10   CD  POLYGON ((28.87409 -2.45983, 28.89286 -2.49093, 28.86171 -2.52932,...
11   DJ  POLYGON ((41.76045 10.98194, 41.77502 11.53891, 41.80339 11.66695,...
12   EG  POLYGON ((32.62264 29.83319, 32.63375 29.86819, 32.58319 29.91486,...
13   GQ  POLYGON ((10.00095 0.99765, 9.99625 0.93408, 9.94994 0.92130, 9.90...
14   ER  POLYGON ((41.88418 13.08320, 41.31370 13.63029, 41.25037 13.71272,...
15   ET  POLYGON ((38.75982 3.55447, 38.71240 3.56910, 38.67787 3.62155, 38...
16   GA  POLYGON ((13.02985 -2.32156, 13.02554 -2.22984, 12.88521 -2.09949,...
17   GH  POLYGON ((0.08923 5.69903, 0.06792 5.69347, 0.07430 5.70069, 0.071...
18   GN  POLYGON ((-13.03519 9.08818, -13.08762 9.04837, -13.17417 9.09240,...
19   CI  POLYGON ((-3.19716 5.10958, -3.71542 5.18958, -3.97486 5.25514, -4...
20   KE  POLYGON ((40.14097 -3.16589, 40.12153 -3.19903, 40.13264 -3.25625,...
21   LS  POLYGON ((27.75422 -30.60574, 27.69040 -30.54084, 27.60969 -30.495...
22   LR  POLYGON ((-8.97599 4.96625, -9.04430 4.98514, -9.02736 5.00264, -9...
23   LY  POLYGON ((21.00762 21.04356, 18.72608 22.16770, 15.99817 23.45037,...
24   MG  POLYGON ((46.70764 -25.12691, 46.71792 -25.14375, 46.72903 -25.148...
25   MW  POLYGON ((35.55135 -16.13310, 35.54077 -16.16092, 35.51946 -16.166...
26   ML  POLYGON ((-3.43878 13.16111, -3.53224 13.17199, -3.59984 13.20224,...
27   MR  POLYGON ((-6.30712 15.49617, -9.32849 15.49625, -9.33246 15.56858,...
28   MU  POLYGON ((57.47208 -20.51681, 57.44680 -20.50125, 57.41625 -20.512...
29   MA  POLYGON ((-13.16709 27.68310, -13.05010 27.75125, -13.00847 27.808...
30   MZ  POLYGON ((35.68758 -19.08906, 35.68125 -19.10986, 35.68431 -19.118...
31   NA  POLYGON ((16.77558 -28.44384, 16.72497 -28.49937, 16.67243 -28.472...
32   NE  POLYGON ((12.38640 13.07677, 12.36240 13.09019, 12.33684 13.07176,...
33   NG  POLYGON ((5.96159 4.37265, 5.96625 4.33514, 5.84708 4.40125, 5.858...
34   RW  POLYGON ((29.12521 -2.60767, 29.09239 -2.59175, 29.06222 -2.60173,...
35   SL  POLYGON ((-11.73375 7.08330, -11.92458 7.17792, -12.32042 7.33292,...
36   ZA  POLYGON ((29.21586 -31.93042, 29.20486 -31.92736, 29.22014 -31.938...
37   SS  POLYGON ((31.59829 3.68959, 31.51779 3.63850, 31.50180 3.64432, 31...
38   SD  POLYGON ((24.25777 8.67912, 24.26099 8.70306, 24.24550 8.71289, 24...
39   SZ  POLYGON ((31.55598 -27.31561, 31.49369 -27.31516, 31.15055 -27.202...
40   TZ  MULTIPOLYGON (((38.48184 -11.41631, 38.37823 -11.38303, 38.32909 -...
41   TG  POLYGON ((1.39806 6.18069, 1.19292 6.10958, 1.19165 6.15502, 1.085...
42   TN  POLYGON ((9.06598 32.08689, 8.35752 32.50214, 8.32330 32.82302, 8....
43   UG  POLYGON ((31.78514 -0.99680, 30.79968 -1.00021, 30.76682 -0.98579,...
44   ZM  POLYGON ((25.88753 -17.98407, 25.84971 -17.94978, 25.86025 -17.930...
45   ZW  POLYGON ((31.05947 -22.33982, 30.99968 -22.31642, 30.97825 -22.327...

In [26]:
regions = os.getcwd() + "/resources/offshore_shapes.geojson"
gpd.read_file(regions)

   name                                                               geometry
0    AO  MULTIPOLYGON (((12.30229 -6.15106, 12.28775 -6.14822, 12.30973 -6....
1    BJ  POLYGON ((2.82397 5.44567, 2.98419 3.57678, 2.93092 3.02775, 2.496...
2    CD  MULTIPOLYGON (((13.36345 -5.90455, 13.35514 -5.90997, 13.35406 -5....
3    CG  POLYGON ((10.74731 -4.58326, 11.15495 -3.95093, 11.19358 -3.97642,...
4    CI  MULTIPOLYGON (((-3.78808 1.80956, -4.11796 1.86132, -4.45130 1.816...
5    CM  MULTIPOLYGON (((9.74498 2.39867, 9.59613 2.46142, 9.07549 2.57604,...
6    DJ  MULTIPOLYGON (((43.29843 12.61941, 43.35385 12.58205, 43.43790 12....
7    DZ  POLYGON ((8.42095 37.80114, 8.63401 36.94913, 8.42726 36.90557, 8....
8    EG  MULTIPOLYGON (((33.27509 32.59582, 33.41371 32.40804, 33.54149 32....
9    ER  MULTIPOLYGON (((40.66044 16.96647, 40.73786 16.84073, 40.89413 16....
10   GA  MULTIPOLYGON (((10.74731 -4.58326, 8.89621 -6.44726, 8.57248 -6.13...
11   GH  MULTIPOLYGON (((1.30389 5.81243, 2.16694 2.67556, 1.91208 2.58468,...
12   GN  MULTIPOLYGON (((-13.43056 9.27784, -13.42280 9.26511, -13.41797 9....
13   GQ  POLYGON ((7.27500 -1.48444, 7.29119 -1.51917, 7.35494 -2.05407, 6....
14   KE  MULTIPOLYGON (((44.26044 -3.66053, 43.94964 -4.05530, 43.59952 -4....
15   KE  POLYGON ((45.79158 -1.77586, 45.20700 -2.41186, 45.03751 -2.64356,...
16   LR  MULTIPOLYGON (((-7.53551 4.11266, -7.49016 3.58033, -7.33043 1.013...
17   LY  POLYGON ((23.38646 33.80148, 24.46253 33.44798, 24.55334 33.44405,...
18   MA  MULTIPOLYGON (((-13.17315 27.66667, -13.66475 27.83362, -13.44876 ...
19   MG  MULTIPOLYGON (((52.47418 -17.42673, 52.80000 -18.80000, 52.00000 -...
20   MR  POLYGON ((-19.55823 16.06806, -19.54167 16.28333, -19.55333 16.633...
21   MU  MULTIPOLYGON (((63.44163 -19.75265, 63.44365 -19.75028, 63.44328 -...
22   MZ  MULTIPOLYGON (((37.16218 -17.74160, 37.15479 -17.74146, 37.14204 -...
23   NA  MULTIPOLYGON (((16.57453 -28.55232, 16.57874 -28.54890, 16.58461 -...
24   NG  MULTIPOLYGON (((8.54140 4.70052, 8.46444 4.63333, 8.40667 4.52500,...
25   SD  MULTIPOLYGON (((37.81550 21.88967, 37.88030 21.73078, 38.06240 21....
26   SD  POLYGON ((37.63933 22.74674, 37.72914 22.47155, 37.82927 22.24808,...
27   SL  MULTIPOLYGON (((-11.56578 6.80336, -11.64439 6.70536, -12.48592 5....
28   TG  POLYGON ((2.11016 2.88401, 1.30389 5.81243, 1.20284 6.10244, 1.400...
29   TN  MULTIPOLYGON (((10.78090 34.72219, 10.78088 34.72348, 10.78907 34....
30   TZ  MULTIPOLYGON (((43.22181 -6.28243, 43.27176 -6.65157, 43.27405 -7....
31   ZA  MULTIPOLYGON (((35.86722 -29.91490, 35.72097 -30.17384, 35.52775 -...

In [20]:
n.buses["country"].unique

,v_nom,symbol,under_construction,tag_substation,tag_area,lon,lat,country,geometry,x,y,substation_lv,substation_off,type,carrier,v_mag_pu_set,v_mag_pu_min,v_mag_pu_max,control,sub_network
name,,,,,,,,,,,,,,,,,,,,
0,220.0,False,False,False,False,-0.190303,35.768513,DZ,NaN,-0.190303,35.768513,True,True,,AC,1.0,0.0,inf,PQ,
1,220.0,False,False,False,False,-0.395014,35.534567,DZ,NaN,-0.395014,35.534567,True,True,,AC,1.0,0.0,inf,PQ,
2,220.0,False,False,False,False,3.145192,36.588889,DZ,NaN,3.145192,36.588889,True,True,,AC,1.0,0.0,inf,PQ,
3,220.0,False,False,False,False,2.165326,36.259078,DZ,NaN,2.165326,36.259078,True,True,,AC,1.0,0.0,inf,PQ,
4,220.0,False,False,False,False,-0.902234,35.087613,DZ,NaN,-0.902234,35.087613,True,True,,AC,1.0,0.0,inf,PQ,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20641,220.0,False,False,False,False,31.010127,-29.813664,ZA,NaN,31.010127,-29.813664,True,True,,AC,1.0,0.0,inf,PQ,
20642,220.0,False,False,False,False,39.277212,-6.317658,TZ,NaN,39.277212,-6.317658,True,True,,AC,1.0,0.0,inf,PQ,
20643,220.0,False,False,False,False,9.976713,37.210589,TN,NaN,9.976713,37.210589,True,True,,AC,1.0,0.0,inf,PQ,
20644,220.0,False,False,False,False,33.136213,0.502256,UG,NaN,33.136213,0.502256,True,True,,AC,1.0,0.0,inf,PQ,
20645,220.0,False,False,False,False,33.134780,0.502019,UG,NaN,33.134780,0.502019,True,True,,AC,1.0,0.0,inf,PQ,

In [12]:
n.lines

,bus0,bus1,v_nom,num_parallel,length,underground,under_construction,tag_type,tag_frequency,country,...,v_ang_min,v_ang_max,sub_network,x_pu,r_pu,g_pu,b_pu,x_pu_eff,r_pu_eff,s_nom_opt
name,,,,,,,,,,,,,,,,,,,,,
143652525-1,0,22607,220.0,1.0,4.498892,False,False,line,50,algeria,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
749566787-1,1,22608,220.0,1.0,0.292786,False,False,line,50,algeria,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131326298-1,2,22609,380.0,2.0,2.164176,False,False,line,50,algeria,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131444218-1,3,22610,220.0,1.0,13.429011,False,False,line,50,algeria,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
216031398-1,4,22611,220.0,1.0,0.112265,False,False,line,50,algeria,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257755978-46,22602,45209,380.0,1.0,31.624426,True,False,cable,50,zambia,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257755977-47,22603,45210,380.0,1.0,32.122527,True,False,cable,50,zimbabwe,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257755980-47,22604,45211,380.0,1.0,32.867865,True,False,cable,50,zimbabwe,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257755981-47,22605,45212,380.0,1.0,32.934144,True,False,cable,50,zimbabwe,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257755978-47,22606,45213,380.0,1.0,31.624426,True,False,cable,50,zimbabwe,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Try to make the points 'right'
# TODO: issue at n.plot in plot.py of PyPSA

# df = n.buses
# df["geometry"] = gpd.points_from_xy(df.lon, df.lat)
# gdf = gpd.GeoDataFrame(df, crs='epsg:4326')
# n.buses = gdf


# #import geoplot
# import matplotlib.pyplot as plt
# import cartopy.crs as ccrs

# #Germany shape information
# world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
# africa = world.query('continent == "Africa"')

# #Boundary coordinates for Germany
# xlim = ([africa.total_bounds[0],  africa.total_bounds[2]])
# ylim = ([africa.total_bounds[1],  africa.total_bounds[3]])

# #plot
# fig,ax = plt.subplots(1,1,subplot_kw={"projection":ccrs.PlateCarree()})
# fig.set_size_inches(15,15)
# ax = n.plot(ax=ax, boundaries = xlim+ylim, bus_sizes=1, geometry = True)

In [14]:
from shapely import wkt

lines = n.lines
lines['geometry'] = lines['geometry'].apply(wkt.loads)
lines = gpd.GeoDataFrame(lines, crs='epsg:4326')

buses = n.buses
buses["geometry"] = gpd.points_from_xy(buses.lon, buses.lat)
buses = gpd.GeoDataFrame(buses, crs='epsg:4326')

NameError: name 'gpd' is not defined

In [ ]:
lines = lines[lines["country"]=="nigeria"]
buses = buses[buses["country"]=="nigeria"]

buses.hvplot(
    geo=True,
    size = 10,  # buses["tag_area"]**(0.5)/10,
    frame_height=750,
    alpha=0.4,
    tiles='CartoLight',
    hover_cols=['bus_id'],
    color = 'orange'  
) * lines.hvplot(
    geo=True,
    alpha=0.4,
    hover_cols=['line_id']
).opts(
    active_tools=['pan', 'wheel_zoom']
)

# TEST AREA - to test single functions

In [ ]:
lines = (
        pd.read_csv(
            "data/osm/africa_all_lines_build_network.csv",
            dtype=dict(
                line_id="str",
                bus0="str",
                bus1="str",
                underground="bool",
                under_construction="bool",
            ),
        )
        .set_index("line_id")
        .rename(columns=dict(voltage="v_nom", circuits="num_parallel"))
    )

lines["length"] /= 1e3  # m to km conversion
lines["v_nom"] /= 1e3  # V to kV conversion
lines = lines.loc[:, ~lines.columns.str.contains("^Unnamed")]  
lines = _rebase_voltage_to_config(lines)

#lines

In [ ]:
def _rebase_voltage_to_config(component):
    """
    Rebase the voltage of components to the config.yaml input

    Components such as line and buses have voltage levels between
    110 kV up to around 850 kV. PyPSA-Africa uses 3 voltages as config input.
    This function rebases all inputs to the lower, middle and upper voltage
    bound.

    Parameters
    ----------
    component : dataframe
    """
    v_min = 110  # min. filtered value in dataset
    v_low = 110
    v_mid = 220
    v_up = 330
    v_low_mid = (v_mid - v_low) / 2 + v_low  # between low and mid voltage
    v_mid_up = (v_up - v_mid) / 2 + v_mid  # between mid and upper voltage
    component.loc[
        (v_min <= component["v_nom"]) & (component["v_nom"] < v_low_mid), "v_nom"
    ] = v_low
    component.loc[
        (v_low_mid <= component["v_nom"]) & (component["v_nom"] < v_mid_up), "v_nom"
    ] = v_mid
    component.loc[v_mid_up <= component["v_nom"], "v_nom"] = v_up

    return component